# Python
*.pyc
*.pyo
*.pyd
__pycache__/
venv/
*.egg-info/
dist/
build/
# Docker
**/Dockerfile
**/docker-compose.yml
**/.env
**/.dockerignore

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Папки с временными данными
*.sqlite3
*.db
*.db-journal

# IDE файлы
.vscode/
.idea/

# Скрытые файлы и папки
*.bak
*.swp
